* {
	touch-action: none;
}

.tlui-help-menu {
	display: none !important;
}

.tlui-debug-panel {
	display: none !important;
}

.editor {
	position: fixed;
	inset: 0;
	overflow: hidden;
}

.tldrawLogo {
        position: absolute;
        z-index: 9999999;
        bottom: 0px;
        right: 0px;
}

.tldrawLogo__mobile {
        bottom: 60px;
}

/* Remove CrosshairSelector styles */
.question__button {
        all: unset;
        flex-shrink: 0;
        width: 32px;
        height: 32px;
        background-color: none;
        border-radius: 4px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
}
